/* Estilos para todos los elementos*/

*{
    margin: 0%;
    padding: 0%;
}

body {
    background-color: rgb(120, 177, 230); 
    padding: 1%;
}

main {
    background-color: rgb(68, 144, 216); 
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
}

a {
    text-decoration: none;
}

ol li { 
    list-style: none;
}

ul li {
    list-style: none;
}