#tabContenedor ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.botones {
    background: rgb(245, 203, 245);
    color: white;
    padding: 7px;
    margin: 10px;
}

#tabContenido div {
    display: inline-block;
    position: absolute;
    width: 60%;
    background: turquoise;
    margin-left: 4%;
}

#tabContenido div:not(:nth-child(1)) {
    display: none;
}

#tabContenido div:target {
    display: inline-block;
    background-color: rgb(158, 127, 218);
}

#detalleInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8%;
    margin-bottom: 5%;
}

#detalleInfo table {
    background-color: rgb(158, 127, 218);
    padding: 5px;
}

#detalleInfo table tr:nth-child(odd){
    background-color: lightblue;
}

#detalleInfo table tr:nth-child(even){
    background-color: rgb(228, 146, 173);
}

