#tarjetas { 
    display: flex;
    text-align: center;
    margin-top: 0px;
}

#tarjetas  div{
    margin: 0%;
    width: 50%;
    height: 50%;
    display: inline-block;
    position: absolute;
}

#tarjetas  div h1 {
    background-color: palegreen;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    font-style: italic;
    margin-bottom: 0%;
}

#tarjetas  div p {
    background-color: paleturquoise;
    font-family: 'Times New Roman', Times, serif;
}

#tarjetas div:not(:nth-child(1)) {
    display: none;
}

#tarjetas div:target {
    display: inline-block;
}